<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1><%= message %></h1>
    <form method="post" action="/login" enctype="application/x-www-form-urlencoded">
        <label for="email">
            Email:
            <input type="email" name="email" id="email">
        </label>
        <br/>
        <label for="password">
            Password:
            <input type="password" name="password" id="password">
        </label>
        <br/>
        <button type="submit">Login</button>
    </form>
</body>
</html>